<beans:beans xmlns="http://www.springframework.org/schema/security"
	xmlns:beans="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/security http://www.springframework.org/schema/security/spring-security.xsd 
	http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">


<beans:bean id="mySuccessHandler"
  class="com.chikitsa.security.MySavedRequestAwareAuthenticationSuccessHandler"/>
<beans:bean id="myFailureHandler" class=
  "org.springframework.security.web.authentication.SimpleUrlAuthenticationFailureHandler"/>
  
  <beans:bean id="bcryptEncoder" class="org.springframework.security.crypto.bcrypt.BCryptPasswordEncoder" />
  
  <beans:bean id="restAuthenticationEntryPoint" class="com.chikitsa.security.RestAuthenticationEntryPoint"></beans:bean>
  <beans:bean id="corsHandler" class="com.chikitsa.security.CorsFilter" />
    	
<http entry-point-ref="restAuthenticationEntryPoint">

 <csrf disabled="true"/>
    <intercept-url pattern="/test" access="hasRole('ADMIN')"/>
 
    <form-login
      authentication-success-handler-ref="mySuccessHandler"
      authentication-failure-handler-ref="myFailureHandler" />
 
    <logout logout-url="/logout" invalidate-session="true" delete-cookies="true"/>
    
    <custom-filter ref="corsHandler" after="PRE_AUTH_FILTER"/>
</http>

<authentication-manager id="jdbc-auth">
		<authentication-provider>
		  <password-encoder ref="bcryptEncoder"/>
			<jdbc-user-service data-source-ref="dataSource"
				users-by-username-query="select email,password,status from users where email = ?"
				authorities-by-username-query="select email,role from users where email = ?" />
		</authentication-provider>
	</authentication-manager>	

 <beans:bean id="dataSource"
		class="org.springframework.jdbc.datasource.DriverManagerDataSource">

		<beans:property name="driverClassName" value="com.mysql.jdbc.Driver" />
		<beans:property name="url" value="jdbc:mysql://localhost:3306/chikitsadb?useSSL=false" />
		<beans:property name="username" value="root" />
		<beans:property name="password" value="root" />
	</beans:bean>
	

</beans:beans>
